.container {
    margin: 5px 40px;
    border-radius: 20px;
    overflow: hidden;
    background-color: aquamarine;
}

.header {
    background-color: #ccc;
    padding: 20px;
    display: flex;
    align-items: center;
}

.title {
    font-weight: bold;
}

.arrow {
    text-align: right;
    font-size: 3em;
    margin-left: auto;
}

.content {
    background-color: #eee;
    padding: 20px;
}