<!-- component: star -->
<!-- <star></star> -->

<!-- pipe: movietitlecase -->
<!-- <input type="text" [(ngModel)]="movieName">
<div>{{ movieName | movietitlecase:["of", "the"] }}</div>
<br/>
<tweet></tweet> -->

<!-- component: zippy -->
<!-- <zippy title="test">
    Zipped content
</zippy>
<zippy title="zippy 2">
    Zipped content 2
</zippy> -->

<!-- Template driven form: form-create-course -->
<!-- <form-create-course></form-create-course> -->

<!-- Reactive form: change-password-form -->
<change-password-form></change-password-form>