<form [formGroup]="form"  (ngSubmit)="submit(form)">
  <div class="form-group">
    <label for="oldPassword">Old Password</label>
    <input formControlName="oldPassword" name="oldPassword" type="text" class="form-control"
     (keyup.enter)="onEnterOldPassword()">
    <div *ngIf="oldPassword.pending">Checking...</div>
    <div *ngIf="oldPassword.touched && oldPassword.invalid" class="alert alert-danger">
      <div *ngIf="oldPassword.errors.required">Old password is required</div>
      <div *ngIf="oldPassword.errors.minlength">Minimum password length is {{oldPassword.errors.minlength.requiredLength}}</div>
      <div *ngIf="oldPassword.errors.correctPassword">Incorrect old password</div>
    </div>
  </div>
  <div class="form-group">
    <label for="newPassword">New Password</label>
    <input formControlName="newPassword" name="newPassword" type="text" class="form-control">
  </div>
  <div class="form-group">
    <label for="confirmPassword">Confirm Password</label>
    <input formControlName="confirmPassword" type="text" name="confirmPassword" class="form-control">
  </div>
  <button class="btn btn-primary" [disabled]="form.invalid">Change Password</button>
</form>
{{form.value | json}}
{{oldPassword.errors | json}}